{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<header class="smallheader text-center text-white d-flex">
   <div class="container my-auto">
      <div class="row row-centered">
         <div class="col-lg-6 col-md-5 col-sm-4 mx-auto ">
         </div>
      </div>
   </div>
</header>
<br>
<section id="services">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Hébergement du site</h2>
                <hr class="divider my-4">
                <p class="text-muted mb-5">Le site est hébergé sur le serveur <a
                        href="https://dashboard.heroku.com/apps" target="_blank">Heroku</a>.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Crédits</h2>
                <hr class="divider my-4">
            </div>
            <div class="col-lg-8 text-center">
                <p class="text-muted mb-5">Le template utilisé est : <a
                        href="https://startbootstrap.com/themes/creative/" target="_blank">Creative</a>.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="mt-0">Autres</h2>
                <hr class="divider my-4">
                <p class="text-muted mb-5">Ce site a été réalisé dans le cadre du projet 8 du parcours de Développeur
                    python d'<a href="https://openclassrooms.com/fr" target="_blank">OpenClassrooms</a>. Vous pouvez
                    retrouver l'intégralité du code source sur <a href="https://github.com/raoofrachidi/Projet-8"
                    target="_blank">Github</a>.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}